.card-grid{
    background-color: #0b454b;
    width: 300px;
    /* Match the width of the header to align them */
    margin: 0 auto 20px auto;
    /* Top and bottom margins are 0 and 20px respectively, left and right margins are auto */
    padding: 10px;
    /* Padding inside the container */
    border-radius: 10px;
    /* Optional rounded corners */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px; 
    row-gap: 10px;
    height:350px;
    max-height: 350px; /* Adjust the height as needed */
    overflow-y: auto;
}

.card {
    /* background: #316d64be; */
    background-color: #557d81;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
}

/* Responsive adjustments can be added here */

.bdy {
    background-color: #086d78;
    margin: 0;
    font-family: Arial, sans-serif;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* overflow-y: scroll; */
    /* min-height: 800px; */
    /* max-height: 800px; */
}

.content-box {
    /* border-radius: 10px; */
    background-color: #086d78;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    /* overflow-y: scroll;
    max-height: 600px; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #557d81;

    /* background-color: #0eecd6be; */
    padding: 5px;
    width: 350px;
    height: 50px;
}

.title {
    padding-left: 10px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.font-adjusters button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
}

.font-adjusters button:hover {
    background-color: #010101;
}

