body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b454b;
}

.container {
  width: 400px;
  height: 350px; /* Fixed height */
  padding: 15px; /* Adjusted padding for better space utilization */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #086d78;
  display: flex; /* Ensure it uses flex layout to manage internal elements */
  flex-direction: column; /* Elements arranged vertically */
  justify-content: space-between; /* Evenly space between elements */
}

.form {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px; /* Keep padding to ensure form elements are not cramped */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow the form to expand to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure elements inside the form are evenly spaced */
}

.form h2 {
  margin-bottom: 10px; /* Compact margin to save space */
}

.form-control {
  position: relative;
  margin-bottom: 10px; /* Reduce space between inputs */
}

.input-icon {
  width: 20px; 
  height: 20px; 
}

.form-control input {
  width: calc(100% - 50px); /* Adjust width to ensure full utilization within form-control */
  padding: 10px 10px 10px 35px; /* Increase left padding to accommodate icon */
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: none; /* Clean style without shadow */
}

.form-control .input-icon {
  position: absolute;
  left: 10px; /* Sufficiently spaced from the edge */
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Consistent icon size */
  height: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #004080; /* Adjusted hover color */
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toggle-buttons button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.toggle-buttons button.active {
  background-color: #0056b3;
}

.toggle-buttons button:not(.active) {
  background-color: #e0e0e0;
  color: #757575;
}

.invisible-placeholder {
  visibility: hidden;
  height: 0; /* Remove placeholder height entirely */
}
