/* Style the dropdown button */
.dropbtn {
    background-color: #557d81;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 400px; /* or 100% if you want it to span the full width of the container */
    text-align: left;
    border-radius: 20px; /* This will make the button edges round. Adjust as needed. */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 400px;
    background-color: #086d78;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #316d64be;
    min-width: 400px; /* Same as button width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px; /* This will make the button edges round. Adjust as needed. */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #24534cbe}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #24534cbe;
  }
  