.card-grid {
    background-color: #0b454b;
    width: 300px; /* Adjust the width as necessary to fit all cards uniformly */
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; /* Align items at the start of the flex line */
    gap: 10px; /* Use gap property for spacing between cards */
    height: 350px;
    max-height: 350px;
    overflow-y: auto; /* Allow scrolling within the grid if content exceeds the height */
  }
  
  .card {
    background-color: #557d81;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 280px; /* Ensuring all cards have the same width */
    min-height: 150px; /* Optional: Set a minimum height for aesthetics */
    max-height: 350px; /* Max height for individual cards */
    overflow-y: auto; /* Allow scrolling within the card if content exceeds */
  }

.bdy5 {
    background-color: #086d78;
    margin: 0;
    font-family: Arial, sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    padding: 20px;
}

.content-box5 {
    background-color: #086d78;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    font-size: 14px;
}

.header5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #557d81;
    padding: 5px;
    width: 350px;
    height: 50px;
}

.title5 {
    padding-left: 10px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.font-adjusters button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
}

.font-adjusters button:hover {
    background-color: #010101;
}

